<table class="table">
  <!--<thead>
  <tr>
    <th>status</th>
    <th>role</th>
    <th>name</th>
    <th></th>
  </tr>
</thead>-->

<!-- nilms with admin or owner privleges -->
@for (nilm of nilms$ | async; track nilm) {
  <tr>
    <!-- Installation status (nilm state) -->
    <td style="vertical-align: middle">
      @if (nilm.available) {
        <fa-icon [icon]="['fas', 'circle']" size="2x" class="icon available" tooltip="online"></fa-icon>
      }
      @if (!nilm.available) {
        <fa-icon [icon]="['fas', 'circle']" size="2x" class="icon offline" tooltip="offline"></fa-icon>
      }
    </td>
    <!-- admin icon -->
    <td style="vertical-align: middle">
      @if (nilm.role=='admin') {
        <fa-icon  [icon]="['fas', 'user-shield']" size="2x" [fixedWidth]="true" tooltip="admin"></fa-icon>
      }
      @if (nilm.role=='owner') {
        <fa-icon  [icon]="['fas', 'user']" size="2x" [fixedWidth]="true" tooltip="owner"></fa-icon>
      }
      @if (nilm.role=='viewer') {
        <fa-icon [icon]="['fas', 'eye']" size="2x" [fixedWidth]="true" tooltip="viewer"></fa-icon>
      }
    </td>
    <!-- Installation name -->
    <td style="vertical-align: middle">
      <span [tooltip]="nilm.description">{{nilm.name | ellipsis:18}}</span>
    </td>
    <!-- Admin/Owner access -->
    <td>
      @if (nilm.role=='admin' || nilm.role=='owner') {
        <button class="btn btn-secondary"
          [routerLink]="['/installations',nilm.id]">Manage
        </button>
      }
    </td>
  </tr>
}
</table>
<!-- ...or a message if the user doesn't have access to any installations -->
@if ((nilms$ | async).length==0) {
  <div class="alert alert-info">
  You do have access to any installations</div>
}

<!-- add a new NILM -->
<div class="pr-4">
  <button class="btn btn-primary float-right"
    (click)="addNilm()">
    <fa-icon [icon]="['fas', 'plus']"></fa-icon>
    New Installation
  </button>
</div>

<!-- ====== add NILM modal ==== -->
<div class="modal fade" bsModal #nilmModal="bs-modal"
  [config]="{backdrop: true}"
  tabindex="-1" role="dialog"
  aria-labelledby="mySmallModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <!-- modal title bar -->
        <h4 class="modal-title float-left">Add New Installation</h4>
        <button type="button" class="close float-right" aria-label="Close" (click)="nilmModal.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        @if (accountSelectors.can_add_installations$ | async) {
          <div >
            On the target run <code>joule master add lumen</code> using the key below:
            <div class="auth-key">
              {{accountSelectors.installation_token$ | async}}
            </div>
          </div>
        } @else {
          <div class="alert alert-warning" role="alert">
            You must already be an administrator of at least one installation in order to add new installations.
          </div>
        }
      </div>
    </div>
  </div>
</div>