<div class="col-sm-12">
  <div class="panel-title">Folder Properties</div>
  <dl class="row">
    <dt class="col-2 text-right">Time Range</dt>
    @if (folder.size_on_disk>0) {
      <dd class="col-10">
        {{folder.start_time/1e3 | date:"y MMM dd HH:mm:ss"}} &mdash;
        {{folder.end_time/1e3   | date:"y MMM dd HH:mm:ss"}}
      </dd>
    }
    @if (folder.size_on_disk==0) {
      <dd class="col-10"> &mdash;</dd>
    }
    <dt class="col-2 text-right">Size on Disk</dt>
    <dd class="col-10" >{{folder.size_on_disk | byteSize }}</dd>
  </dl>

  <form [formGroup]="form"  (ngSubmit)="onSubmit(form.value)">
    <div class="form-group" [class.has-error]="!form.get('name').valid">
      <label class="control-label" for="folder-name">Name</label>
      <input class="form-control" id="folder-name" placeholder="Name" type="text" [formControl]="form.get('name') | formControl">
    </div>
    <div class="form-group">
      <label for="folder-description">Description</label>
      <input class="form-control" id="folder-description"
        placeholder="Description" type="text"
        [formControl]="form.controls['description'] | formControl">
    </div>
    <div class=" checkbox ">
      <label>
        <input id="folder-hidden " type="checkbox"
          [formControl]="form.controls['hidden'] | formControl"> Hidden
        </label>
      </div>
      <div class="form-group ">
        <div class="float-left ">
          @if (folder.locked) {
            <button class="btn btn-primary"
              disabled>
          Locked</button>
        }
        @if (!folder.locked) {
          <button type="submit " class="btn btn-primary"
          [disabled]="!form.valid">Save</button>
        }
      </div>
    </div>
  </form>
</div>