<!-- ====== group display ====== -->

<!-- group name -->
<span class="group-title" [tooltip]="group.description" >{{group.name}}</span>
<!-- drop down menu -->
<div class="btn-group float-right" placement="right" dropdown>
  <button class="btn btn-sm btn-light dropdown-toggle" dropdownToggle>
    <fa-icon [icon]="['fas', 'bars']"></fa-icon>
  </button>
  <ul *dropdownMenu class="dropdown-menu dropdown-menu-right" role="menu" aria-labelledby="menu-button">
    <!-- add a new member -->
    <li class="menu" role="menuitem"><a class="dropdown-item" (click)="userModal.show()">Add user</a></li>
    <!-- edit the group -->
    <li class="menu" role="menuitem"><a class="dropdown-item" (click)="groupModal.show()">Edit Group</a></li>
    <!-- remove the group -->
    <li class="menu" role="menuitem"><a class="dropdown-item" (click)="destroyGroup()">Remove</a></li>
  </ul>
</div>
<!-- group members -->
<table class="table table-striped mb-4">
  @for (member of members$ | async; track member) {
    <tr>
      <!-- member name -->
      <td>{{member.first_name}} {{member.last_name}}
        <!-- remove the member -->
        <span class="float-right" (click)='removeMember(member)'>
          <fa-icon [icon]="['fas', 'times']" class="icon delete"></fa-icon>
        </span>
      </td>
    </tr>
  }
</table>

<!-- ====== edit group modal ==== -->
<div class="modal fade" bsModal #groupModal="bs-modal"
  [config]="{backdrop: 'static'}"
  tabindex="-1" role="dialog"
  aria-labelledby="mySmallModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <!-- modal title bar -->
        <h4 class="modal-title float-left">Edit Group [{{group.name}}]</h4>
        <button type="button" class="close float-right" aria-label="Close" (click)="groupModal.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <account-group-form (cancel)="groupModal.hide()" (save)="updateGroup($event)"
        [group] = "group"></account-group-form>
      </div>
    </div>
  </div>
</div>


<!-- ====== add member modal ====== -->
<div class="modal fade" bsModal #userModal="bs-modal"
  [config]="{backdrop: 'static'}"
  tabindex="-1" role="dialog"
  (onShow)="addMemberShown()"
  aria-labelledby="mySmallModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <!-- modal title bar -->
        <h4 class="modal-title float-left">Add User to [{{group.name}}]</h4>
        <button type="button" class="close float-right" aria-label="Close" (click)="userModal.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <!-- select how to add a user -->
        <span class="lead">I want to:</span>
        <ng-select [(ngModel)]="userType" class="selection-options"
          class="selection-options"
          [items]="userOptions$ | async"
          [clearable]="false"
          bindValue = 'value'
          placeholder = "select one">
        </ng-select>
        <hr/>

        <div>
          @switch (userType) {
            <!-- Option 1: select an existing user -->
            @case ('select') {
              <div>
                <ng-select [(ngModel)]="selectedUser"
                  [items]="selectEntries$ | async"
                  bindLabel="label"
                  bindValue="value"
                  placeholder = "select a user"
                  notFoundText = "no users found">
                  <ng-template ng-option-tmp let-item="item" let-search="searchTerm">
                    <span [ngOptionHighlight]="search">{{item.label}}</span>
                  </ng-template>
                </ng-select>
                <!-- Save and Cancel buttons -->
                <div class="clearfix">
                  <!-- save -->
                  <button class="btn btn-primary float-left mtop"
                    [disabled]="selectedUser==null"
                  (click)="addMember(selectedUser)">Save</button>
                  <!-- cancel -->
                  <button class="btn btn-secondary float-right mtop"
                    (click)="userModal.hide()">
                  Cancel</button>
                </div>
              </div>
            }
            <!-- Option 2: create a new user -->
            @case ('create') {
              <div>
                <app-user-form (save)="createMember($event)"
                  (cancel)="cancel()">
                </app-user-form>
              </div>
            }
            <!-- Option 3: invite a new user-->
            @case ('invite') {
              <div>
                <form [formGroup]="form">
                  <div class="form-group"
                    [class.has-error]="!form.get('email').valid && !form.get('email').pristine">
                    <label>Email address</label>
                    <input type="email" class="form-control" placeholder="Email"
                      [formControl]="form.controls['email'] | formControl">
                  </div>
                  <!-- Save and Cancel buttons -->
                  <div class="clearfix">
                    <!-- save -->
                    <button class="btn btn-primary float-left mtop"
                      [disabled]="form.valid==false"
                    (click)="inviteMember()">Invite</button>
                    <!-- cancel -->
                    <button class="btn btn-secondary float-right mtop"
                      (click)="userModal.hide()">
                    Cancel</button>
                  </div>
                </form>
              </div>
            }
          }
        </div>
      </div>
    </div>
  </div>