@if (!nilm.available) {
  <alert type="danger">
    Installation Offline
  </alert>
}

<form [formGroup]="form">
  <div class="form-group" [class.has-error]="!form.get('name').valid">
    <label class="control-label" for="nilm-name">Name</label>
    <input class="form-control" id="nilm-name" type="text" [formControl]="form.get('name') | formControl">
  </div>
  <div class="form-group" [class.has-error]="!form.get('description').valid">
    <label class="control-label" for="nilm-description">Description</label>
    <input class="form-control" id="nilm-description" type="text" [formControl]="form.get('description') | formControl">
  </div>
  <div class="form-group" [class.has-error]="!form.get('url').valid">
    <label class="control-label" for="nilm-url">URL</label>
    <input class="form-control" id="nilm-url" placeholder="http://localhost/nilmdb" type="text" [formControl]="form.get('url') | formControl">
  </div>
  <div class="form-group" [class.has-error]="!form.get('max_points_per_plot').valid">
    <label class="control-label" for="nilm-max-points">Maximum Points per Plot</label>
    <input class="form-control" id="nilm-max-points" type="number" [formControl]="form.get('max_points_per_plot') | formControl">
  </div>
  <div class="form-group" [class.has-error]="!form.get('max_events_per_plot').valid">
    <label class="control-label" for="nilm-max-events">Maximum Events per Plot</label>
    <input class="form-control" id="nilm-max-events" type="number" [formControl]="form.get('max_events_per_plot') | formControl">
  </div>
  <div class="form-group ">
    <div class="float-left ">
      <button type="submit" (click) = "updateNilm(form.value)" class="btn btn-primary"
      [disabled]="!form.valid">Save</button>
    </div>
    <div class="float-right">
      <button (click) = "removeNilmModal.show()" class="btn btn-danger">
      Remove</button>
    </div>
  </div>
</form>

<!-- confirm remove NILM modal -->
<div bsModal  #removeNilmModal="bs-modal" class="modal fade" [config]="{backdrop: 'static'}"
  tabindex="-1" role="dialog"
  aria-labelledby="mySmallModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title float-left">Remove [{{nilm.name}}]?</h4>
        <button type="button" class="close float-right" aria-label="Close" (click)="removeNilmModal.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <ul class="lead">
          <li> This will not delete any data from the installation. </li>
          <li> This will not affect any processes running on the installation. </li>
          <li> You can add the installation back at any time. </li>
        </ul>
        <hr/>
        <div class="clearfix">
          <button class="btn btn-danger float-left" (click)="removeNilm()">Yes, remove it</button>
          <button class="btn btn-success float-right" (click)="removeNilmModal.hide()">No, keep it</button>
        </div>
      </div>
    </div>
  </div>
</div>
