<!-- search and filter bar -->
<div class="row search-bar">
  <div class="col-sm-8">
    <div class="input-group">
      <div class="input-group-prepend">
        <span class="input-group-text">
          <fa-icon [icon]="['fas', 'search']" ></fa-icon>
        </span>
      </div>
      <input type="text"  class="form-control"
        placeholder="search by name or description"
        aria-describedby="basic-addon1"
        [ngModel]="plotSelectors.dataViewFilterText$ | async"
        (ngModelChange)="setDataViewFilterText($event)">
    </div>
  </div>
  <div class="col-sm-4">
    <div class="checkbox mt-2 mb-1">
      <label>
        <input type="checkbox"
          (change)="setShowPublicDataViews($event.target)"
          [checked]="plotSelectors.showPublicDataViews$ | async" > public views?
        </label>
      </div>
    </div>
  </div>
  <!-- data view thumbnails -->
  @if (plotSelectors.dataViewsLoaded$ | async) {
    <div>
      @if (hasViews$ | async) {
        <div class="data-view-list">
          <!-- list of thumbnails that match search criteria -->
          @for (view of plotSelectors.filteredDataViews$ | async; track view) {
            <div>
              <app-plot-thumbnail class="card"
                [view]="view" (click)="loadDataView(view)">
            </app-plot-thumbnail>
          </div>
        }
        <!-- show message if no views match the search criteria -->
        @if ((hasFilteredViews$ | async)==false) {
          <div class="alert alert-info">
            No views match your search criteria
          </div>
        }
      </div>
    } @else {
      <div class="alert alert-info">
        No saved views
      </div>
    }
    <!-- show a message if there aren't saved data views -->
  </div>
} @else {
  <div class="loading-container">
    <div class="loading">
      <fa-icon [icon]="['fas', 'spinner']" animation="spin" size="4x"></fa-icon>
      <p class="lead"> Loading... </p>
    </div>
  </div>
}
<!--show spinner if we are waiting on dataviews -->
