<div class="col-sm-12">
  <div class="panel-title">Stream Properties</div>
  <dl class="row">
    <dt class="col-2 text-right">Time Range</dt>
    @if (stream.size_on_disk>0) {
      <dd class="col-10">
        {{stream.start_time/1e3 | date:"y MMM dd HH:mm:ss"}} &mdash;
        {{stream.end_time/1e3   | date:"y MMM dd HH:mm:ss"}}
      </dd>
    }
    @if (stream.size_on_disk==0) {
      <dd class="col-10"> &mdash;</dd>
    }
    <dt class="col-2 text-right">Size on Disk</dt>
    <dd class="col-10">{{stream.size_on_disk | byteSize}}</dd>
    <dt class="col-2 text-right">Total Rows</dt>
    <dd class="col-10">{{stream.total_rows}}</dd>
    <dt class="col-2 text-right">Total Time</dt>
    <dd class="col-10">{{stream.total_time | duration}}</dd>
    <dt class="col-2 text-right">Database Path</dt>
    <dd class="col-10">{{stream.path}}</dd>
  </dl>

  <form class="row clearfix" [formGroup]="form"
    (ngSubmit)="onSubmit(form.value)">
    <div class="form-group col-md-3">
      <label class="control-label" for="folder-name">Name</label>
      <input class="form-control"
        id="folder-name"
        placeholder="Name"
        type="text"
        [formControl]="form.controls['name'] | formControl">
    </div>
    <div class="form-group col-md-9">
      <label for="folder-description">Description</label>
      <input class="form-control"
        id="folder-description"
        placeholder="Name"
        type="text"
        [formControl]="form.controls['description'] | formControl">
    </div>

    <div class="panel-title">
      Element Properties
    </div>
    <table class="table table-condensed" >
      <thead>
        <tr>
          <th class="pt-0 border-top-0">Plottable</th>
          <th class="pt-0 border-top-0">Type</th>
          <th class="pt-0 border-top-0">Name</th>
          <th class="pt-0 border-top-0">Units</th>
          <th class="pt-0 border-top-0">Offset</th>
          <th class="pt-0 border-top-0">Scale</th>
          <th class="pt-0 border-top-0">Default Min</th>
          <th class="pt-0 border-top-0">Default Max</th>
        </tr>
      </thead>
      <tbody>
        @for (subform of formElementsArray.controls; track subform) {
          <tr>
            <td>
              <input type="checkbox"
              [formControl]="subform.get('plottable') | formControl"></td>
              <td>
                <ng-select [formControl]="subform.get('display_type') | formControl"
                [items]="displayTypeOptions" [clearable]="false"></ng-select></td>
                <td class="form-group" [class.has-error]="!subform.get('name').valid">
                  <input type="text" class="form-control"
                  [formControl]="subform.get('name') | formControl"></td>
                  <td>
                    <input type="text"
                      class="form-control"
                      [formControl]="subform.get('units') | formControl">
                  </td>
                  <td class="form-group" [class.has-error]="!subform.get('offset').valid">
                    <input type="text"
                      class="form-control"
                      [formControl]="subform.get('offset') | formControl">
                  </td>
                  <td class="form-group" [class.has-error]="!subform.get('scale_factor').valid">
                    <input type="text"
                      class="form-control"
                      [formControl]="subform.get('scale_factor') | formControl">
                  </td>
                  <td class="form-group" [class.has-error]="!subform.get('default_min').valid">
                    <input type="text"
                      class="form-control"
                      placeholder="auto"
                      [formControl]="subform.get('default_min') | formControl">
                  </td>
                  <td class="form-group" [class.has-error]="!subform.get('default_max').valid">
                    <input type="text"
                      class="form-control"
                      placeholder="auto"
                      [formControl]="subform.get('default_max') | formControl">
                  </td>
                </tr>
              }

            </tbody>
          </table>
          <div class="form-group">
            <div class="float-left">
              @if (stream.locked) {
                <button class="btn btn-primary"
                  disabled>
                  Locked
                </button>
              }
              @if (!stream.locked) {
                <button type="submit" class="btn btn-primary"
                [disabled]="!form.valid">Save</button>
              }
            </div>
          </div>
        </form>
      </div>
