<div>
  <app-plot-thumbnail [view]="liveView(
    myForm.get('name').value,
    myForm.get('description').value)"></app-plot-thumbnail>
  <form [formGroup]="myForm">
    <div class="form-group" 
      [class.has-error]="!myForm.get('name').valid && !myForm.get('name').pristine">
      <label>Name</label>
      <input type="email" class="form-control" placeholder="Name" 
        [formControl]="myForm.get('name') | formControl">
    </div>
    <div class="form-group">
      <label>Description</label>
      <input type="text" class="form-control" placeholder="Description" 
        [formControl]="myForm.get('description') | formControl">
    </div>
    <div class="checkbox">
      <label>
        <input type="checkbox" [formControl]="myForm.get('home') | formControl"><b> Set as Home View? </b>
      </label>
    </div>
    <div class="checkbox">
      <label>
        <input type="checkbox" [formControl]="myForm.get('private') | formControl"><b> Private? </b>
      </label>
    </div>
  </form>
  <!-- Save and Cancel buttons -->
  <div class="clearfix">
    <!-- save -->
    <button class="btn btn-primary float-left" 
      [disabled]="!myForm.valid" (click)="onSave(myForm.value)">Save</button>
    <!-- cancel -->
    <button class="btn btn-secondary float-right" (click)="onCancel()">
                      Cancel</button>
  </div>
</div>