/* NEW STYLES */

.tree-invisible{
  display: none;
}

.folder-icon{
  color: tan;
}
.data-stream-icon{
  vertical-align: center;
}
.expandable-node{
  cursor: pointer;
}
.active-data-stream{
  color: #3c763d;
  margin-left: -5px;
  font-size: 6px;
  text-align: center;
  vertical-align: middle
}

.nilm-node > .refresh{
  visibility: hidden;
}
.nilm-node:hover > .refresh{
  visibility: visible;
}


.data-app-node{
  cursor: pointer !important;
  margin-top:2px;
  padding-top: 2px;
  padding-bottom: 2px;
  padding-right: 2px;
  display: inline;
}
.data-app-node:hover{
  background: #e6e4e4;
  border-radius: 3px;
  border-style: solid;
  border-width: 1px;
  border-color: gray;
}
.data-app-node > .new-tab{
  visibility: hidden;
}
.data-app-node:hover > .new-tab{
  visibility: visible;
}

/* END NEW STYLES */
div.nilms-loading{
  color: gray;
  position: absolute;
  top: 30%;
  transform: translateX(-50%);
  left: 50%;
}

.folder{
  color: tan;
}
.tree-button{
  cursor: pointer;
  border-radius: 4px;
  border-style: solid;
  border-width: 1px;
  padding-left: 3px;
}


.tree-button.plot{
  padding-right: 5px;
  margin-right: 4px;
  color: #3c763d;
  background-color: #dff0d8;
  border-color: #3c763d;
}
.tree-button.plot:hover{
  background-color: #449d44;
  border-color: #398439;
  color: white;
  cursor: pointer;
}

.tree-button.unplot{
  padding-right: 2px;
  margin-right: 4px;
  color: #a94442;
  background-color: #f2dede;
  border-color: #a94442;
}
.tree-button.unplot:hover{
  color: white;
  background-color: #d9534f;
  border-color: #d43f3a;
  cursor: pointer;
}

.tree-button.noplot{
  padding-right: 5px;
  margin-right: 4px;
  color: #8fbd90;
  background-color: #dff0d8;
  border-color: #8fbd90;
  text-decoration: none;
}
.tree-button.noplot:hover{
  color: #8fbd90;
}
:host ::ng-deep .angular-tree-component{
  width: inherit;
  overflow-x: visible;
}
.icon-button{
    color: #000;
    text-shadow: 0 1px 0 #fff;
    opacity: .2;
}
.icon-button:hover{
  cursor: pointer;
  opacity: 0.5;
}
.element-color{
  height: 20px;
  width: 20px;
  border-color: black;
  border-radius: 2px;
  margin-left: 5px;
  border-style: solid;
  border-width: 2px;
  transform: translateY(5px);
  display: inline-block;
}
.visualizer-node{
  cursor: pointer !important;
  padding: 4px;
  border-radius: 3px;
  border-style: solid;
  border-width: 1px;
  border-color: white;
}
.visualizer-node:hover{
  background: #e6e4e4;
  border-color: gray;
}

:host ::ng-deep .tree-node{
  cursor: default;
  white-space: nowrap;
}
:host ::ng-deep .toggle-children-wrapper{
  cursor: pointer;
}
:host ::ng-deep .node-content-wrapper:hover{
  background: inherit !important;
  border-style: none;
}
:host ::ng-deep .node-content-wrapper{
  background: inherit !important;
  border-style: none !important;
  box-shadow: unset !important;
}
.visualizer-node > .new-tab{
  visibility: hidden;
}
.visualizer-node:hover > .new-tab{
  visibility: visible;
}
.nilm-entry > .refresh{
  visibility: hidden;
}
.nilm-entry:hover > .refresh{
  visibility: visible;
}
/* Tree styling 
:host ::ng-deep.node-content-wrapper {
  display: block;
}
:host ::ng-deep.node-content-wrapper, .tree-children {
  position: relative;
}
:host ::ng-deep.node-content-wrapper::before, .tree-children::after {
  content: "";
  position: absolute;
}
:host ::ng-deep.node-content-wrapper::before {
  border-bottom: 1px solid lightgrey;
  border-left: 1px solid lightgrey;
  height: 28px;
  top: -17px;
  width: 20px;
  left: -28px;
}
:host ::ng-deep.tree-node-leaf>.node-wrapper>.node-content-wrapper::before {
  width: 25px;
}
:host ::ng-deep .tree-children::after {
  border-left: 1px solid lightgrey;
  height: 100%;
  top: -15px;
  left: -15px;
}
:host ::ng-deep treenode:last-child>.tree-node>.tree-children::after {
  border-left: none;
}
:host ::ng-deep .toggle-children {
  z-index: 1;
}
*/
