<div class="page-body row no-gutters">

  <!-- db tree -->

  <div class="col-sm-3 ">
    <div class="app-content border-right-0">
      <div class="node-tree pl-2">
        <cdk-tree [dataSource]="dbNodes$" [treeControl]="treeControl" >
          <!-- == folder element == -->
          <cdk-nested-tree-node *cdkTreeNodeDef="let node; when: isFolder">
            <div>
              <!-- expand/collapse button-->
              <span  cdkTreeNodeToggle  class="tree-node">
                <fa-icon [icon]="['fas', node.isExpanded ? 'folder-open' : 'folder']"
                  (click)="toggleNode(node)"
                  [fixedWidth]="true" class="ml-1 folder-icon" >
                </fa-icon>
                <span (click)="selectNode(node)" [class.selected-name]="nodeSelected(node)" class="selectable-name">{{node.name}}</span>
              </span>
              <!-- children -->
              @if (isLoading(node)) {
                <div class="ml-3">
                  <fa-icon [icon]="['fas', 'spinner']" animation="spin"></fa-icon> loading...
                </div>
              }
              <div [class.tree-invisible]="!node.isExpanded" class="ml-3">
                <ng-container cdkTreeNodeOutlet></ng-container>
              </div>
            </div>
          </cdk-nested-tree-node>
          <!-- == event stream element == -->
          <cdk-tree-node *cdkTreeNodeDef="let node; when: isEventStream" class="tree-node">
            <div>
              <span >
                <fa-icon [icon]="['fas', 'chart-bar']" class="ml-1"></fa-icon>
                <span (click)="selectNode(node)" [class.selected-name]="nodeSelected(node)" class="selectable-name">{{node.name}}</span>
              </span>
            </div>
          </cdk-tree-node>
          <!-- == stream element == -->
          <cdk-tree-node *cdkTreeNodeDef="let node; when: isStream" class="tree-node">
            <div>
              <span>
                <fa-icon [icon]="['fas', 'database']" class="ml-1"></fa-icon>
                <span (click)="selectNode(node)" [class.selected-name]="nodeSelected(node)" class="selectable-name">{{node.name}}</span>
              </span>
            </div>
          </cdk-tree-node>
          <!-- == data app == -->
          <cdk-tree-node *cdkTreeNodeDef="let node; when: isDataApp" class="tree-node">
            <div class="data-app-node">
              <span class="ml-1">
                <fa-icon [icon]="['fas', 'cubes']"></fa-icon>
                <span (click)="selectNode(node)" [class.selected-name]="nodeSelected(node)" class="selectable-name">{{node.name}}</span>
              </span>
            </div>
          </cdk-tree-node>
        </cdk-tree>
      </div>
      <!--TODO: (click)="console.log('TODO: installationService.refresh()')"-->
      <button class="btn btn-primary btn-block refresh"
        (click)="refresh()"
        [disabled]="installationSelectors.refreshing$ | async">
        @if (installationSelectors.refreshing$ | async) {
          <fa-icon [icon]="['fas', 'sync-alt']" animation="spin"></fa-icon>
        }
        Refresh@if (installationSelectors.refreshing$ | async) {
        <span>ing</span>
      }</button>
    </div>
  </div>
  <!-- folder/stream/app edits -->
  <div
    class='app-content scrollable col-sm-9 pl-3 pr-2'>
    @switch (installationSelectors.selectedType$ | async) {
      @case ('dbStream') {
        <app-edit-stream
          [dbStream]="installationSelectors.selectedDbStream$ | async"
        [dbElements]="installationSelectors.selectedDbStreamElements$ | async"></app-edit-stream>
      }
      @case ('dbFolder') {
        <app-edit-folder
        [dbFolder]="installationSelectors.selectedDbFolder$ | async "></app-edit-folder>
      }
      @case ('dataApp') {
        <app-edit-module
        [dataApp]="installationSelectors.selectedDataApp$ | async"></app-edit-module>
      }
      @case ('eventStream') {
        <app-edit-eventstream
        [eventStream] = "installationSelectors.selectedEventStream$ | async"></app-edit-eventstream>
      }
      @default {
        <div class="default-overlay">
          <fa-icon [icon]="['fas','cogs']" size="5x"></fa-icon>
          <br>
            <h1 class="default-overlay-header">select an item to configure</h1></div>
          }
        }
      </div>
    </div>
