@for (messages of [(messages$ | async)]; track messages) {
  <div class="alerts">
    @for (notice of messages.notices; track notice) {
      <alert type="success" [dismissible]="true">
        {{notice}}
      </alert>
    }
    @for (error of messages.errors; track error) {
      <alert type="danger" [dismissible]="true">
        <strong>Error:</strong> {{error}}
      </alert>
    }
    @for (warning of messages.warnings; track warning) {
      <alert type="warning" [dismissible]="true">
        <strong>Warning: </strong>{{warning}}
      </alert>
    }
  </div>
}