<div class="badge label-default clearfix">
  <span class="float-left">
    @if (permission.target_type=='user') {
      <fa-icon [icon]="['fas', 'user']" class="icon" [fixedWidth]="true"></fa-icon>
    }
    @if (permission.target_type=='group') {
      <fa-icon [icon]="['fas', 'users']" class="icon" [fixedWidth]="true"></fa-icon>
    }
    {{permission.target_name}}
  </span>
  @if (permission.removable) {
    <span
      (click) = 'removePermission()'
      class="float-right remove-permission">
      <fa-icon [icon]="['fas', 'times']" class="icon remove"></fa-icon>
    </span>
  }
</div>