@for (nilm of [(nilm$ | async)]; track nilm) {
  <div>
    <div class="page-title-bar">Installation Settings
      @if (nilm!=null) {
        <span>[{{nilm.name}}]</span>
      }
      <!-- help button -->
      <a href="{{helpUrl}}/installation.html" target="_blank"
        class="btn btn-success help-btn"><fa-icon [icon]="['fas', 'life-ring']"></fa-icon> Help </a>
      </div>
      @if (nilm==null) {
        <div class="well">
          <h1><fa-icon [icon]="['fas', 'spinner']" animation="spin"></fa-icon>Loading</h1>
        </div>
      }
      @if (nilm!=null) {
        <div>
          <tabset>
            <tab heading='Database'>
              <installation-database-tab></installation-database-tab>
            </tab>
            @if (nilm.role =='admin') {
              <tab  heading='Admin'>
                <installation-admin-tab>
                </installation-admin-tab>
              </tab>
            }
          </tabset>
        </div>
      }
    </div>
  }