<div class="root-div" [@fadeInOut]>
  <div class="row">
    <div class="col-md-6">
      <div class='bounds'>
        <div class='time clearfix'>
          <span class='time-header'>Start Time:</span>
          <timepicker [(ngModel)]="startTime" [showSpinners]=false [showMeridian]=false></timepicker>
        </div>
        <div class='date'>
          <input type="text" [bsConfig]="bsConfig" placeholder="Start Date" class="form-control" [(ngModel)]="startDate" bsDatepicker>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="bounds">
        <div class='time clearfix'>
          <span class='time-header'>End Time:</span>
          <timepicker [(ngModel)]="endTime" [showSpinners]=false [showMeridian]=false></timepicker>
        </div>
        <div class='date'>
          <input type="text" [bsConfig]="bsConfig" placeholder="End Date" class="form-control" [(ngModel)]="endDate" bsDatepicker>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="offset-md-4 col-md-4 mt-2">
      @if (invalidRange) {
        <div class="text-danger range-error"
        >Invalid Time Range</div>
      }
      <button class="btn btn-primary btn-block btn-lg"
      (click)="setRange()">Set Plot Time</button>
      <button class="btn btn-secondary btn-block"
      (click)="cancel()">Cancel</button>
    </div>
  </div>
</div>